body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4654 {
  position:absolute;
  left:90px;
  top:-13px;
  width:1020px;
  height:65px;
  overflow:hidden;
}
#u4654_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:65px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(239, 243, 246, 1);
  background-image:none;
}
#u4654_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4655 {
  position:absolute;
  left:883px;
  top:25px;
  width:33px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4655_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4655.mouseOver {
}
#u4655_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4655.mouseDown {
}
#u4655_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4655.selected {
}
#u4656 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u4657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4657 {
  position:absolute;
  left:956px;
  top:25px;
  width:33px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4657_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4657.mouseOver {
}
#u4657_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4657.mouseDown {
}
#u4657_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4657.selected {
}
#u4658 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u4659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4659 {
  position:absolute;
  left:1029px;
  top:25px;
  width:61px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4659_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4659.mouseOver {
}
#u4659_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4659.mouseDown {
}
#u4659_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u4659.selected {
}
#u4660 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u4661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:21px;
}
#u4661 {
  position:absolute;
  left:1014px;
  top:1px;
  width:90px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:21px;
}
#u4661_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:21px;
}
#u4661.mouseOver {
}
#u4661_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:21px;
}
#u4661.mouseDown {
}
#u4661_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:21px;
}
#u4661.selected {
}
#u4662 {
  position:absolute;
  left:16px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u4663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u4663 {
  position:absolute;
  left:810px;
  top:25px;
  width:33px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u4663_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u4663.mouseOver {
}
#u4663_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u4663.mouseDown {
}
#u4663_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u4663.selected {
}
#u4664 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u4665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u4665 {
  position:absolute;
  left:90px;
  top:11px;
  width:79px;
  height:32px;
}
#u4666 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4667 {
  position:absolute;
  left:930px;
  top:1px;
  width:19px;
  height:19px;
}
#u4668 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4669 {
  position:absolute;
  left:962px;
  top:-2px;
  width:22px;
  height:22px;
}
#u4670 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:63px;
}
#u4671 {
  position:absolute;
  left:495px;
  top:80px;
  width:616px;
  height:63px;
}
#u4672 {
  position:absolute;
  left:2px;
  top:24px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:369px;
}
#u4673 {
  position:absolute;
  left:84px;
  top:131px;
  width:1026px;
  height:369px;
}
#u4674 {
  position:absolute;
  left:2px;
  top:176px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4676 {
  position:absolute;
  left:89px;
  top:500px;
  width:1020px;
  height:307px;
  overflow:hidden;
}
#u4676_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:307px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(244, 245, 247, 1);
  background-image:none;
}
#u4676_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4677 {
  position:absolute;
  left:105px;
  top:545px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4678 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4679 {
  position:absolute;
  left:105px;
  top:594px;
  width:53px;
  height:16px;
}
#u4679_img.mouseOver {
}
#u4679.mouseOver {
}
#u4680 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4681 {
  position:absolute;
  left:105px;
  top:628px;
  width:53px;
  height:16px;
}
#u4681_img.mouseOver {
}
#u4681.mouseOver {
}
#u4682 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4683 {
  position:absolute;
  left:105px;
  top:663px;
  width:53px;
  height:16px;
}
#u4683_img.mouseOver {
}
#u4683.mouseOver {
}
#u4684 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4685 {
  position:absolute;
  left:103px;
  top:697px;
  width:57px;
  height:20px;
}
#u4685_img.mouseOver {
}
#u4685.mouseOver {
}
#u4686 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4687 {
  position:absolute;
  left:357px;
  top:594px;
  width:53px;
  height:16px;
}
#u4687_img.mouseOver {
}
#u4687.mouseOver {
}
#u4688 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4689 {
  position:absolute;
  left:357px;
  top:629px;
  width:53px;
  height:16px;
}
#u4689_img.mouseOver {
}
#u4689.mouseOver {
}
#u4690 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4691 {
  position:absolute;
  left:357px;
  top:663px;
  width:53px;
  height:16px;
}
#u4691_img.mouseOver {
}
#u4691.mouseOver {
}
#u4692 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4693 {
  position:absolute;
  left:357px;
  top:699px;
  width:53px;
  height:16px;
}
#u4693_img.mouseOver {
}
#u4693.mouseOver {
}
#u4694 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4695 {
  position:absolute;
  left:357px;
  top:734px;
  width:53px;
  height:16px;
}
#u4695_img.mouseOver {
}
#u4695.mouseOver {
}
#u4696 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u4697 {
  position:absolute;
  left:620px;
  top:594px;
  width:66px;
  height:16px;
}
#u4697_img.mouseOver {
}
#u4697.mouseOver {
}
#u4698 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4699 {
  position:absolute;
  left:620px;
  top:545px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4700 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4701 {
  position:absolute;
  left:620px;
  top:697px;
  width:53px;
  height:16px;
}
#u4701_img.mouseOver {
}
#u4701.mouseOver {
}
#u4702 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4703 {
  position:absolute;
  left:620px;
  top:629px;
  width:53px;
  height:16px;
}
#u4703_img.mouseOver {
}
#u4703.mouseOver {
}
#u4704 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4705 {
  position:absolute;
  left:357px;
  top:545px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4706 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
}
#u4707 {
  position:absolute;
  left:890px;
  top:545px;
  width:215px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4708 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u4709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u4709 {
  position:absolute;
  left:620px;
  top:734px;
  width:27px;
  height:16px;
}
#u4709_img.mouseOver {
}
#u4709.mouseOver {
}
#u4710 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u4711 {
  position:absolute;
  left:870px;
  top:750px;
  width:240px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u4712 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u4713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4713 {
  position:absolute;
  left:890px;
  top:681px;
  width:195px;
  height:16px;
  text-align:center;
}
#u4714 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u4715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4715 {
  position:absolute;
  left:620px;
  top:663px;
  width:53px;
  height:16px;
}
#u4715_img.mouseOver {
}
#u4715.mouseOver {
}
#u4716 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u4717 {
  position:absolute;
  left:950px;
  top:593px;
  width:78px;
  height:78px;
}
#u4718 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4719 {
  position:absolute;
  left:958px;
  top:438px;
  width:137px;
  height:39px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4719_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4719.mouseOver {
}
#u4719_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4719.mouseDown {
}
#u4720 {
  position:absolute;
  left:16px;
  top:12px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
